










/* .box{
    position: relative;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffd52d;
    outline: none;
    transition: 1s;
}
.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
} */