{% extends "layout.html" %}

{% block title %}Search Results{% endblock %}

{% block main %}
    <div>
        <ul class="list-group">
            {% if json_results %}
            {% for movie in json_results %}
            <li class = "list-group-item"> 
                {% if movie['Poster'] !=  'N/A' %}
                <div class="movie-poster"><img class="search-poster" src="{{movie['Poster']}}"></div>
                {% endif %}
                <div class="movie-title">{{movie['Title']}} ({{movie['Year']}})
                    <div style="text-align: left;">
                        Type: {{movie['Type'].capitalize()}}
                    </div>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <h1>No Results Found</h1>
            {% endif %}
        </ul>
        </div>
{% endblock %}